<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let i of ServiceTypeList">
      <div class="card h-100">

        <div class="card-body align-text-bottom">
          <h4 class="card-title">
            <!-- <a [routerLink]="['/ServiceTypeContainer/'+i.id]" >{{i.name}}</a> -->
            <div class='' [ngSwitch]="i.type">
              <div *ngSwitchCase="'3'"><a [href]="i.content_url" target="_blank">{{i.name}}</a></div>
              <div *ngSwitchDefault><a (click)="ShowData(i)" class="link">{{i.name}}</a></div>
            </div>
          </h4>
          <p class="card-text">{{i.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="ServiceTypeData != null && ServiceTypeData != '' ">
    <div [ngSwitch]="ServiceTypeData.type">
      <div *ngSwitchCase="'1'"><img class="card-img-top" src='{{ServiceTypeData.content_url}}' alt="image"></div>
      <div *ngSwitchCase="'2'"> <embed [src]='PDFURL()' type="application/pdf" frameBorder="0" scrolling="auto"
          height="700px" width="100%" /> </div>

      <div *ngSwitchDefault><a>{{ServiceTypeData.name}}</a></div>
    </div>
  </div>

</div>