h1,
h2,
h3,
h3,
h5,
h6,
p,
li,
a,
.btn,
.form-check-label,
.form-label {
    letter-spacing: 0.9px;
    font-family: Montserrat-Regular;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.hideShowBtn {
    position: absolute;
    top: 16%;
    left: 2%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.dropdown-menu a {
    color: black;
    padding: 8px 13px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e5e6e9;
    font-size: 0.8rem;
    letter-spacing: 0.5px!important;
}

.dropdown-menu a:hover {
    background-color: #F25E30;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.googleTag{
    border: 1px solid white;
    border-radius: 100%;
    /* width: 1rem;
    height: 1rem; */
    line-height: 100%;
    text-align: center;


}


.circle-btn {
    letter-spacing: 1.3px;
    border-radius: 2rem;
    background-color: #F25E30 !important;
    border: 1px solid#F25E30;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 600;
}

.uname {
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 1.5rem;
    letter-spacing: 0.5px;
}

.grouprole {
    font-size: 0.7rem;
    letter-spacing: 0.5px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    margin: 0.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.nav-link:hover::after {
    width: 100%;
}

.profile {
    width: 33px;
    border: 2px solid #ccc;
    border-radius: 6rem;
    margin-right: 13px;
    cursor: pointer;
}

.profileImg {
    width: 62px;
    border: 2px solid #ccc;
    border-radius: 6rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.user-name {
    position: absolute;
    left: -107px;
    top: 26px;
}
.ContactUs{
    border: 1px solid;
    border-radius: 3rem;
}
.bar:hover{
    background-color: lightskyblue;
}
nav .nav-link {
    color: rgba(0, 0, 0, 0.726);
}
#nav .active{
    background-color: lightskyblue;
}
.btn{
    color: white;
    border: 1px solid black;
}
.back{
background-color: #f1f1f1;
}
.bar {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  .dropdown-toggle::after {
    display:none !important;
    margin-left: .255em;
    /* vertical-align: .255em; */
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
  
  /* Style the active class, and buttons on mouse-over */
  .active, .bar:hover {
    background-color: lightskyblue;
    color: white;
  }

 
@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding: 0;
        background-color: #f7f7f8;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        box-shadow: 0 -1px 21px 16px rgba(0, 0, 0, 0.05), 0 -1px 5px rgba(0, 0, 0, 0.05);
    }
    .profile-menu {
        left: -290%;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
        padding-left: 1.5rem;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        top: 64px;
    }
}


@media only screen and (max-width: 767px) {
    .dropdown-menu {
        left: -150px!important;
        min-width: 200px;
    }
    .nav-link {
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 411px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}


* { box-sizing:border-box }

body {
    margin: 0px;
}

