<div class="container-fluid p-0">
    <div id="headercarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/carBanner.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container p-4">
        <h1 class="text-center"><b>CAR ECM REPAIR TRAINING COURSE</b></h1>
        <div class="row">
            <div class="col-md-12">
                <div class="row pt-4">
                    <div class="col-md-6 p-4">
                        <div class="wp-block-column">
                            <h3><b>COURSE COVERS</b></h3>
                            <p></p>
                            <p class="has-text-color has-medium-font-size" style="color: #0853a2;">MAKE BRIGHT FUTURE IN
                                AUTO ELECTRONICS INDUSTRIES</p>
                            <p>(1)Car Scanning / Diagnose Faulty code read &amp; clear<br>error by scanner<br>(2)Fault
                                Codes Identification &amp; Solution<br>(3)Engine sensor single input/output
                                Oscilloscope.<br>(4)ECM IC/MCU/Processor/ Components / Remove<br>solder on chip
                                level<br>(5)Wiring check on Multimeters<br>(6)ECM Tuning / Flashing / Immo
                                Off<br>(7)Fuel Injection System Coding.<br>(8)Immobilizer Key Programming /
                                Decoding<br>(9)Airbag crash programming.</p>
                            <p></p>
                            <p></p>
                            <div class="wp-block-button" style="background-color: #1fa9e5; color: #ffffff;"
                                href="http://aeheo.com/index.php/contact/">Contact us!</div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row pt-5">
                            <div class="col-md-6 p-2">
                                <img src="../../../assets/R1.jpg" style="width: 100%;">
                            </div>
                            <div class="col-md-6 p-2">
                                <img src="../../../assets/R2.jpg" style="width: 100%;">

                            </div>
                            <div class="col-md-6 p-2">
                                <img src="../../../assets/R3.jpg" style="width: 100%;">

                            </div>
                            <div class="col-md-6 p-2">
                                <img src="../../../assets/R4.jpg" style="width: 100%;">

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row pt-4">
                    <div class="col-md-12">
                        <div class="wp-block-cover has-background-dim-70 has-background-dim has-parallax alignfull"
                            style="background-image: url('../../../assets/CourseDuration.jpg'); background-color: #151a63;">
                            <div class="wp-block-cover__inner-container">
                                <p class="has-large-font-size"
                                    style="text-align: center;color: white;font-size: 1.5rem;"><b>“COURSE
                                        DURATION”<br>—<br>ECM Repair Training course duration is 15 to 45 days and its
                                        covers all major Automotive Topics.</b></p>
                            </div>
                        </div>

                    </div>
                </div>
                <h1 class="text-center"><b>WHY SHOULD YOU TRAINING WITH US</b></h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row pt-4">
                            <div class="col-md-4 pt-2">
                                <img src="../../../assets/train1.jpg" width="100%">

                            </div>
                            <div class="col-md-8">
                                <div class="wp-block-media-text__content">
                                    <h3>User Friendly Environment</h3>
                                    <p class="has-text-color has-medium-font-size" style="color: #0853a2;">We provide
                                        perfect environment for learning !!</p>
                                    <p>Hostel Facilities:- We provide Excellent Hostel Facilities (Walking distance 5
                                        min.with</p>
                                    <p>good quality of foods with secure environment)</p>
                                    <p>institute highly professional environment with modern equipments</p>
                                    <p>along with that 24*7 wifi facility and ac.</p>
                                </div>

                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-4 pt-2">
                                <img src="../../../assets/train2.jpg" width="100%">

                            </div>
                            <div class="col-md-8">
                                <div class="wp-block-media-text__content">
                                    <h3><strong>Modern ECM repair &amp; diagnostic tools with Database.&nbsp;</strong>
                                    </h3>
                                    <p class="has-text-color has-medium-font-size" style="color: #0853a2;">Over
                                        institute also provide best diagnosis and ECM repair tool for over students !
                                    </p>
                                    <p>We will provide you training with these Tools ktag, kess, BDM 100, G-Scan,</p>
                                    <p>Xtool X100 Pad2 pro,More type Ic Programmer, Oscilloscope, digital maltimeter,
                                    </p>
                                    <p>ktm bench, And More tools…..</p>
                                </div>

                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-4 pt-2">
                                <img src="../../../assets/trian3.jpg" width="100%">

                            </div>
                            <div class="col-md-8">
                                <div class="wp-block-media-text__content">
                                    <h3><strong>Professional team</strong></h3>
                                    <p class="has-text-color has-medium-font-size" style="color: #0853a2;">Experience
                                        faculty with practical knowledge .</p>
                                    <p>We offer supportive faculty, provides you proper guidance throughout</p>
                                    <p>your training period and also gives you support till next 6 months of</p>
                                    <p>training.</p>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="wp-block-cover has-background-dim-70 has-background-dim has-parallax alignfull"
                            style="background-image: url('http://aeheo.com/wp-content/uploads/2018/11/img026.jpg');
                        ">
                            <div class="wp-block-cover__inner-container">
                                <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
                                <p></p>
                                <h3 class="has-large-font-size" style="text-align: center;color: white; "><b>“THE RIGHT
                                        COURSE FOR YOU.”<br>—</b></h3>
                                <p style="text-align: center;color: white;">No matter your level of education, knowledge
                                    or experience,</p>
                                <p style="text-align: center;color: white;">PA offers a training course that is perfect
                                    for everyone who wants bright future in ECU repairing industries, car mechanics can
                                    learn many things in this kind of course.</p>
                                <p style="text-align: center; color: white;">
                                    <!-- /wp:paragraph -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"><b>OUR TOOLS</b></h1>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row pt-4">

                            <div class="col-md-3 p-2">
                                <div class="card" >
                                    <img class="card-img-top" src="../../../assets/tool-1.jpg" alt="Card image" class="img-fluid">
                                    <div class="card-body">
                                      <h4 class="card-title">G Scan 2</h4>
                                      <p class="card-text">Vehicle communication part is designed fully compatible with G-scan, which enables the continued provision of unchallenged in-depth diagnostic capability on Asian passenger cars and commercial vehicles.</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-3 p-2">
                                <div class="card" >
                                    <img class="card-img-top" src="../../../assets/tool-2.jpg" alt="Card image" class="img-fluid">
                                    <div class="card-body">
                                      <h4 class="card-title">xtool x100 pad 2</h4>
                                      <p class="card-text">X100 Pad2 Key Programmer with Special Function full Configuration added VW 4th &amp; 5th IMMO. Newly add OBD-II engine diagnosis, with special functions and multi language available.</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-3 p-2">
                                <div class="card" >
                                    <img class="card-img-top" src="../../../assets/tool-3.jpg" alt="Card image" class="img-fluid">
                                    <div class="card-body">
                                      <h4 class="card-title">KTAG</h4>
                                      <p class="card-text">CAR CHIPTUNING:-Chiptuning means to have the possibility to remap the ECU of a car, of a van or of a camper modifying the parameters of the engine and of the automatic transmission.
                                          <br><br>
                                          
                                      </p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-3 p-2">
                                <div class="card" >
                                    <img class="card-img-top" src="../../../assets/tool-4.jpg" alt="Card image" class="img-fluid">
                                    <div class="card-body">
                                      <h4 class="card-title">oscilloscope</h4>
                                      <p class="card-text">An oscilloscope is a device used to test the functionality of equipment that generates an electrical signal.
                                        <br><br>
                                        <br><br>
                                        <br>

                                      </p>
                                    
                                    </div>
                                  </div>
                            </div>
                            </div>


                    </div>
                    </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>