<div class="container">
    <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let i of ServiceTypeContainerList" >
              <div class="card h-100">
                <div class="card-body align-text-bottom">
                  <h4 class="card-title">
                    <!-- <a [routerLink]="['/ServiceType/'+i.id]" >{{i.name}}</a> -->
                    <a [routerLink]="['/ServiceType/'+i.id]"  >{{i.name}}</a>
                  </h4>
                  <p class="card-text">{{i.description}}</p>
                </div>
              </div>
            </div>
      </div>
    </div>